<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="IP" value="192.168.1.231"/>
    <add key="PORT" value="8083"/>
    <add key="MYSQL_IP" value="127.0.0.1"/>
    <add key="MYSQL_DB" value="d2ng"/>
    <add key="MYSQL_USER" value="root"/>
    <add key="MYSQL_PASSWORD" value="root"/>
</appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>